h1{
	text-align: center;
	color: green;
}
h2{
     text-align: center;
	color: purple
}
p{
	color: green;
}
ul{
	color: purple;
}
.list{
	font-weight: bold;
	font-size: 25px;
}
.second{
	font-weight: bold;
	font-size: 30px;
}
.third{
	font-weight: bold;
	font-size: 35px;
}
.fourth{
	font-weight: bold;
	font-size: 40px
}